body {
    width: 100%;
    height: 100%;
    background-image: url(https://administration.crystalium.eu/images/wallpaper_baguette.png);
    background-repeat: repeat;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem auto;

}

.logo {
    background-image: url(https://toppng.com/uploads/preview/fs-bread-loaf-bread-11563011385m4ielvzlsj.png);
    width: 5%;

}

.nomsite {
    width: 95%;
    display: flex;
    justify-content: center;

}

.iwantToBreadFree {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0 0 3rem ;
    border-radius: 30px;
    height: 100%;
    width: 80%;
    background-color: #cca062;
}

.titleQuestion {

    width: 80%;
    height: 20%;
    color: whitesmoke;
}

.box {
    background-color: rgb(230, 200, 104);
    padding-left: 50px;
    margin: 10px 0 30px 0;
    border-radius: 10px;
    width: 80%;
    color: #ad854c;

}

ul {
    list-style-type: none;
    color: black;

}