body {
    width: 100%;
    height: 100%;
    background-image: url(https://administration.crystalium.eu/images/wallpaper_baguette.png);
    background-repeat: repeat;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem auto;

}

.nomsite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.freddie {
   width: 500px; 
}

.logo {
    width : 5%;
}

.logg {
	width: 100px;
	height: 100px;
}

.iwantToBreadFree {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0 0 3rem ;
    border-radius: 30px;
    height: 100%;
    width: 80%;
    background-color: #cca062;
}

.topBread {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.titleQuestion {
    display: flex;
    width: 80%;
    height: 20%;
    color: whitesmoke;
}

.drapeau {
    display: flex;
    justify-content: end;
    width: 20%;
}

.langue {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 200, 104);
    padding-left: 50px;
    margin: 10px 0 30px 0;
    border-radius: 10px;
    width: 80%;
    color: rgb(129, 95, 56);

}

ul {
    list-style-type: none;
    color: rgb(110, 78, 41);

}

.btn {
    display: flex;
    justify-content: center;
    width: 120px;
    border-radius: 10px 10px 0 0;
    margin: 10px;
    padding: 5px;
    background-color: #cca062;
    color: white;
    border: none;
}

.btn:hover {
    border-radius: 10px 10px 0 0;
    margin: 10px;
    background-color: white;
    color: #cca062;
    border: none;
}


