body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.iwantToBreadFree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 5px solid white;
    height: 100%;
    width: 80%;
    background-color: grey;
}

.titleQuestion {
    background-color: aqua;
    border: 5px solid purple;
    width: 80%;
    height: 20%;
}

.box {
    background-color: red;
    padding-left: 50px;
    margin: 10px;
    border : 5px solid green;
    width: 80%;

}

ul {
    list-style-type: none;

}